---
title: Media Guru
---
extends layouts/_layout
block content
  
  //BEGIN Intro
  include home/intro
  //END Intro

  //BEGIN Advantage
  include home/advantage
  //END Advantage

  //BEGIN Vacancy
  include home/vacancy
  //END Vacancy

  //BEGIN Mission
  include home/mission
  //END Mission

  //BEGIN Career
  include home/career
  //END Career

  //BEGIN Office
  include home/office
  //END Office

