footer.footer
  .container
    .row.middle-xs
      .col-md-6
        .footer__block
          h4 Оставить заявку 
          a(href="tel:+7 (495) 540-47-07 ") +7 (495) 540-47-07 
          span / 
          a(href="mailto:info@mediaguru.ru") info@mediaguru.ru
      .col-md-6.end-xs.flex
        .footer__social
          a(href="#")
            i.icon.icon-facebook
          a(href="#")
            i.icon.icon-vk
          a(href="#")
            i.icon.icon-instagram
          a(href="#")
            i.icon.icon-telegram
          a(href="#")
            i.icon.icon-youtube
          a(href="#")
            i.icon.icon-twitter
      .col-xs-12
        .footer__copyright
          p © Copyright MediaGuru 2018