section.advantages
  .container
    .row
      .col-md-3.advantages__block
        span 10 лет
        h3 В digital-рекламе
      .col-md-3.advantages__block
        span 120
        h3 Молодых и амбициозных<br> сотрудников
      .col-md-3.advantages__block
        span 496
        h3 Клиентов в портфолио
      .col-md-3.advantages__block
        span Бренд
        h3 Агентство с известным<br> именем