section.career
  .container
    .row
      .col-xs-12
        .heading
          h2 Карьера
        h3 Как сделать карьеру в MediaGuru?
        .career__row
          .career__block
            h4 1.
            p Заяви о желании стать лидером, спикером, стремлении заработать, как можно больше.
          .career__block
            h4 2.
            p Приходи на помощь коллегам словом и делом.
          .career__block
            h4 3.
            p Делай больше, чем от тебя ожидают.
          .career__block
            h4 4.
            p Стань новатором — тестируй новинки и информируй о них команду.
          .career__block
            h4 5.
            p Пиши статьи, выступай на отраслевых мероприятиях, веди курсы в онлайн-школах.
          .career__block
            h4 6.
            p Бери на себя больше ответственности —  качественно и в срок выполняй задачи.
          .career__block
            h4 7.
            p Расти, развивайся, получай повышение!
