section.intro
  .container
    .row.middle-xs
      .col-xs-12
        .heading
          h2 О компании
        h1 Агентство MediaGuru специализируется на контекстной рекламе
        p Мы знаем все о ведении рекламной компании в digital. Предоставляем услуги по аналитике, размещению баннерной рекламы, продвижению в социальных сетях. Благодаря опыту и сложившейся команде, мы умеем смотреть чуть дальше других. 
    