section.mission
  .container
    .row
      .col-xs-12
        .heading
          h2 Миссия и ценности
        h3 Мы уверены: каждый может начать с нуля и добиться больших успехов в команде MediaGuru. Наши сотрудники чувствуют свой вклад в развитие агентства, им есть куда расти.
        .mission__row
          .mission__block
            h4 Наша главная ценность — Клиент.
            p Он наш лучший друг, наше все. Мы оберегаем его, радуем акциями, скидками и подарками.
          .mission__block
            h4 В работе важен результат.
            p Если ты взял на себя ответственность за какую-либо задачу, то нужно ее выполнить во что бы то ни стало.
          .mission__block
            h4 Даем возможность реализовать амбиции:
            p Стать известным экспертом в своей области и получать головокружительную зарплату.
          .mission__block
            h4 Мы против штрафов
            p и «за» множественные программы поощрения.
          .mission__block
            h4 Нам важны доброжелательная обстановка
            p домашняя атмосфера и отзывчивый коллектив
          .mission__block
            h4 Часто проводим тимбилдинги
            p чтобы укрепить взаимопонимание в команде.

