section.office
  .container
    .row
      .col-xs-12
        .heading
          h2 заголовок
        h3 Офис
        p Наш московский офис находится в 5 минутах ходьбы от метро Автозаводская. Вас ждет личное комфортное рабочее место, оснащенное всем необходимым и маленькие подарочки: брендированные блокнот ручка и кружка.
        p Чай, кофе, какао и печеньки за счет компании!
        p <b>Дополнительные преимущества:</b><br>Если  ты плохо себя чувствуешь, то можно поработать из дома (при условии, что не срываются очень ответственные дедлайны). 