section.vacancy
  .container
    .row
      .col-xs-12
        .heading
          h2 Открытые вакансии
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              article.vacancy__block
                header
                  div
                  img(src="img/slider/1.jpg", alt="")
                section
                  h1 Ведущий менеджер по работе с клиентами
                  .vacancy__block__city
                    p Москва
                    span от 100 000 руб.
                  a(href="#") Подробнее
                    i.icon.icon-arrow-right
            .swiper-slide
              article.vacancy__block
                header
                  div
                  img(src="img/slider/2.jpg", alt="")
                section
                  h1 Менеджер по продажам/Sales manager (digital)
                  .vacancy__block__city
                    p Москва
                    span от 100 000 руб.
                  a(href="#") Подробнее
                    i.icon.icon-arrow-right
            .swiper-slide
              article.vacancy__block
                header
                  div
                  img(src="img/slider/3.jpg", alt="")
                section
                  h1 Младший специалист по контекстной рекламе
                  .vacancy__block__city
                    p Москва
                    span от 100 000 руб.
                  a(href="#") Подробнее
                    i.icon.icon-arrow-right
            .swiper-slide
              article.vacancy__block
                header
                  div
                  img(src="img/slider/1.jpg", alt="")
                section
                  h1 Ведущий менеджер по работе с клиентами
                  .vacancy__block__city
                    p Москва
                    span от 100 000 руб.
                  a(href="#") Подробнее
                    i.icon.icon-arrow-right
